@page
@model IndexModel
@inject UserManager<Member> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var user = await UserManager.GetUserAsync(User);

}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="mb-3 d-flex">
                <div class="FIRSTNAME form-floating w-50 me-2">
                <input asp-for="Input.FirstName" class="form-control" value="@user.FirstName"  />
                <label asp-for="Input.FirstName" class="form-label"></label>
                </div>                
                <div class="LASTNAME form-floating w-50 ms-2">
                    <input asp-for="Input" class="form-control" value="@user.LastName" />
                    <label asp-for="Input" class="form-label"></label>
                </div>
            </div>
            <div class="PF-LABEL mb-2">
                <label class="text-secondary">Profile Picture</label>
            </div>
            <div class="PF-INPUT input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-info text-white" type="button" id="inputGroupFileAddon04">Upload</button>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
