html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f5f6f9;
}

.roboto {
    font-family: 'Roboto Slab', serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.text-grey {
    color: rgba(0, 0, 0, 0.4);
}

.margin-left {
    margin-left: -17px;
}

.details-margin-left {
    margin-left: -8px;
    
}

.rounded-5 {
    border-radius: 15px;
}

.col-65 {
    flex: 0 0 auto;
    width: 65%;
}

.no-resize {
    resize: none;
}

.avatar {
    height: 3rem;
    width: 3rem;
}

.action-trigger-hover .item-show {
    display: block;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.action-trigger-hover .item-show-hover {
    display: none;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.resize-dropdown {
    min-width: 5rem;
}

.dropdown-menu.dropdown-animation.show {

    animation-name: dropdownslideIn;
    position: absolute !important;
    top: 100% !important;
}

.dropdown-menu.show {
    display: block;
}

.disabled-1 {
    pointer-events: none;
    opacity: .40;
}

.disabled-2 {
    pointer-events: none;
    opacity: .40;
}

.form-control:disabled {
    background-color: white;
    opacity: 1;
}