@page
@model IndexModel
@inject UserManager<Member> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var user = await UserManager.GetUserAsync(User);

}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="USERNAME mb-4 form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="NAMES mb-3 d-flex">
                <div class="FIRSTNAME form-floating w-50 me-2">
                <input asp-for="Input.FirstName" class="form-control" value="@user.FirstName"  />
                <label asp-for="Input.FirstName" class="form-label"></label>
                </div>                
                <div class="LASTNAME form-floating w-50 ms-2">
                    <input asp-for="Input.LastName" class="form-control" value="@user.LastName" />
                    <label asp-for="Input.LastName" class="form-label"></label>
                </div>
            </div>
            <div class="AVATAR mt-1">
                <div class="PROFILE-PICTURE-LABEL">
                    <label class="text-secondary">Profile Picture</label>
                    <div class="my-2">
                        <img src="~/uploads/avatars/@user.AvatarUrl" class="img-thumbnail img-fluid" />
                    </div>
                </div>
                <div class="PICTURE-INPUT input-group">
                    <input type="file" class="form-control" asp-for="Input.ImageFile" accept="image/*">
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
            </div>
            <button class="SAVE-BUTTON mt-3 w-100 btn btn-lg btn-primary" id="update-profile-button" type="submit">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
