@using Microsoft.AspNetCore.Identity;
@model LiteBoard.Models.Project
@inject UserManager<Member> userManager
@{
    ViewData["Title"] = "Create";
}


<form asp-action="create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="bg-white mt-5 mx-auto w-50 rounded-5 p-5">
        <div class="mx-auto text-center">
            <h2 class="fs-3">Start Something New</h2>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Description</label>
            <textarea name="Description" class="form-control" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input hidden type="text" id="MemberId" name="MemberId" value="@userManager.GetUserId(User)" />
        <input hidden type="text" id="MemberId" name="MemberId" />
        <div class="mt-4">
            <Button type="submit" class="btn btn-info text-white me-2">Create Project</Button>
            <a asp-action="Index">Cancel</a>
        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
