@using Microsoft.AspNetCore.Identity;
@model LiteBoard.Models.Project
@inject UserManager<Member> userManager
@{
    ViewData["Title"] = "Create";
}

<p class="fs-5">Create a Project</p>



    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input hidden type ="text" id="MemberId" name="MemberId" value="@userManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create Project" class="btn btn-primary" />
            </div>
        </form>
    </div>


<div>
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
